@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer utilities {
  .article-content p {
    @apply mb-4 leading-7;
  }
  
  .article-content p:last-child {
    @apply mb-0;
  }
}

